[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
pytest = "*"
jinja2 = "*"
numpy = "*"
Pillow = "*"
python-multipart = "*"
matplotlib = "*"
app = "*"
requests = "*"
google.auth.transport = "*"
google.oauth2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
