<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Title</title>
</head>
<body>
<h2>Сдвиг по замкнутым прямоугольным составляющим</h2>
 <form action="image_form" enctype="multipart/form-data" method="post">
 <table>
 <tr>
 Процент сдвига по осям X и Y соответственно <br>
 <td><input type="range" id="r" name="r" value="50" oninput="x1.value=r.value" min="0" max="100" > </td>
 <td><output name="x1" for="r"> 50 </output></td>
 </tr>
 <tr>
 <td><input type="range" id="g" name="g" value="50" oninput="x2.value=g.value" min="0" max="100" > </td>
 <td><output name="x2" for="g"> 50 </output></td>
 </tr>
 </table>
 <input name="files" type="file" multiple>
 <p>
 <input type="submit" value="Send" />
 </p>
 </form>
{% if ready %}
<table>
{% for image in images %}
<tr>
 <td>
 <img src = "{{ image }}">
 </td>
</tr>
{% endfor %}
</table>
{% endif %}
</body>
</html>