# имя, отображаемое в интерфейсе
name: 'fastlab'
on: [push] # список событий, на которые запускается действие
jobs: # список работ, которые будут производиться
  checks: # имя работы сhecks
    runs-on: ubuntu-latest # на какой машине делать работы
    steps: # выполняемые последовательно шаги
      - name: Begin
        uses: actions/checkout@v3
      - name: Echo hello
        run: echo "hello world"
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"
      - name: Install pipenv
        run: python -m pip install pipenv
      - name: Pipenvlock
        run: pipenv lock
      - name: Pipenvsync
        run: |
          pipenv sync
